In [1]:
import pandas as pd
from datetime import datetime
import numpy as np

In [2]:
df = pd.read_csv("films.csv")
df.head()

,title,year,rating,date_rated,duration,director,country,image
0,A Bullet for the General,1967.0,7,Rated on 08 Dec 2019,1h 55min,Damiano Damiani,Italy,https://m.media-amazon.com/images/M/MV5BYzcwYT...
1,Columbus,2017.0,7,Rated on 29 Aug 2019,1h 40min,Kogonada,USA,https://m.media-amazon.com/images/M/MV5BNTliZm...
2,Midnight in Paris,2011.0,7,Rated on 30 Aug 2019,1h 34min,Woody Allen,"Spain,USA,France",https://m.media-amazon.com/images/M/MV5BMTM4Nj...
3,The Servant,1963.0,7,Rated on 29 Aug 2019,1h 56min,Joseph Losey,UK,https://m.media-amazon.com/images/M/MV5BZmM5OD...
4,La Chinoise,1967.0,8,Rated on 29 Aug 2019,1h 35min,Jean-Luc Godard,France,https://m.media-amazon.com/images/M/MV5BMjY3Nj...

In [3]:
df['duration'] = df['duration'].str.replace('h', ' hour')

In [4]:
df['duration'] = df['duration'].str.replace('min', ' min')

In [5]:
df['duration'] = pd.to_timedelta(df.duration)

In [6]:
df['duration'] = df.duration.dt.total_seconds()//60

In [7]:
df['date_rated'] = df['date_rated'].str.replace('Rated on ', '')

In [8]:
df['date_rated'] = pd.to_datetime(df.date_rated, format='%d %b %Y')

In [9]:
df.head()

,title,year,rating,date_rated,duration,director,country,image
0,A Bullet for the General,1967.0,7,2019-12-08,115.0,Damiano Damiani,Italy,https://m.media-amazon.com/images/M/MV5BYzcwYT...
1,Columbus,2017.0,7,2019-08-29,100.0,Kogonada,USA,https://m.media-amazon.com/images/M/MV5BNTliZm...
2,Midnight in Paris,2011.0,7,2019-08-30,94.0,Woody Allen,"Spain,USA,France",https://m.media-amazon.com/images/M/MV5BMTM4Nj...
3,The Servant,1963.0,7,2019-08-29,116.0,Joseph Losey,UK,https://m.media-amazon.com/images/M/MV5BZmM5OD...
4,La Chinoise,1967.0,8,2019-08-29,95.0,Jean-Luc Godard,France,https://m.media-amazon.com/images/M/MV5BMjY3Nj...

In [10]:
df = df.dropna()

In [11]:
df[['year', 'duration']] = df[['year', 'duration']].astype(int)

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 981 entries, 0 to 1062
Data columns (total 8 columns):
title         981 non-null object
year          981 non-null int32
rating        981 non-null int64
date_rated    981 non-null datetime64[ns]
duration      981 non-null int32
director      981 non-null object
country       981 non-null object
image         981 non-null object
dtypes: datetime64[ns](1), int32(2), int64(1), object(4)
memory usage: 61.3+ KB

In [13]:
df["director"] = df["director"].str.replace(",", ", ")

In [14]:
df["country"] = df["country"].str.replace(",", ", ")

In [15]:
df["decade"] = df["year"].astype(str).str[:3] + "0s"

In [16]:
df.head()

,title,year,rating,date_rated,duration,director,country,image,decade
0,A Bullet for the General,1967,7,2019-12-08,115,Damiano Damiani,Italy,https://m.media-amazon.com/images/M/MV5BYzcwYT...,1960s
1,Columbus,2017,7,2019-08-29,100,Kogonada,USA,https://m.media-amazon.com/images/M/MV5BNTliZm...,2010s
2,Midnight in Paris,2011,7,2019-08-30,94,Woody Allen,"Spain, USA, France",https://m.media-amazon.com/images/M/MV5BMTM4Nj...,2010s
3,The Servant,1963,7,2019-08-29,116,Joseph Losey,UK,https://m.media-amazon.com/images/M/MV5BZmM5OD...,1960s
4,La Chinoise,1967,8,2019-08-29,95,Jean-Luc Godard,France,https://m.media-amazon.com/images/M/MV5BMjY3Nj...,1960s

In [17]:
df.to_csv("../all_films.csv")

In [18]:
decade_avg = df.groupby(["decade"])["rating"].mean()

In [19]:
decade_avg

decade
1910s    7.500000
1920s    7.521739
1930s    7.450000
1940s    7.452381
1950s    7.769231
1960s    7.625000
1970s    7.620690
1980s    7.410256
1990s    7.504762
2000s    7.290323
2010s    7.014218
Name: rating, dtype: float64

In [20]:
decade_count = df.groupby(["decade"])["rating"].count()

In [21]:
decade_count

decade
1910s      4
1920s     23
1930s     20
1940s     42
1950s     78
1960s    112
1970s    145
1980s    117
1990s    105
2000s    124
2010s    211
Name: rating, dtype: int64