In [1]:
import pandas as pd
from datetime import datetime
import numpy as np

In [2]:
df = pd.read_csv("new_films.csv")
df.head()

,title,year,rating,date_rated,duration,director,country,genre,actors,image,backdrop,summary
0,The Living Dead Girl,1982,rating rated-7,/iainm/films/diary/for/2021/01/22/,86 mins \n\t\t\t\t\n\t\t\t\t\tMore details at,Jean Rollin,France,horror,"Marina Pierro,Françoise Blanchard,Mike Marshal...",https://a.ltrbxd.com/resized/film-poster/6/3/4...,https://a.ltrbxd.com/resized/sm/upload/qt/bh/y...,"A toxic spill revives a beautiful, dead heires..."
1,Shock Corridor,1963,rating rated-7,/iainm/films/diary/for/2021/01/23/,101 mins \n\t\t\t\t\n\t\t\t\t\tMore details at,Samuel Fuller,USA,"mystery,drama","Peter Breck,Constance Towers,Gene Evans,James ...",https://a.ltrbxd.com/resized/film-poster/3/6/0...,https://a.ltrbxd.com/resized/sm/upload/8d/yk/u...,"Determined to pull in the Pulitzer Prize, repo..."
2,Brute Force,1947,rating rated-8,/iainm/films/diary/for/2021/01/23/,98 mins \n\t\t\t\t\n\t\t\t\t\tMore details at,Jules Dassin,USA,"thriller,crime,drama","Burt Lancaster,Hume Cronyn,Charles Bickford,Yv...",https://a.ltrbxd.com/resized/film-poster/5/5/8...,https://a.ltrbxd.com/resized/sm/upload/qb/2n/o...,Timeworn Joe Collins and his fellow inmates li...
3,Fascination,1979,rating rated-6,/iainm/films/diary/for/2021/01/23/,80 mins \n\t\t\t\t\n\t\t\t\t\tMore details at,Jean Rollin,France,"drama,horror","Franca Maï,Jean-Marie Lemaire,Brigitte Lahaie,...",https://a.ltrbxd.com/resized/sm/upload/c8/cs/p...,https://a.ltrbxd.com/resized/sm/upload/6i/4q/a...,A thief seeks refuge in a castle owned by two ...

In [3]:
df["rating"] = df["rating"].str.split("-", expand=True)[1]

In [4]:
df["date_rated"] = df["date_rated"].str[-11:].str[0:10]

In [5]:
df["duration"] = df["duration"].str.split(expand=True)[0]

In [6]:
df["genre"] = df["genre"].str.title()

In [7]:
df["genre"] = df["genre"].str.replace(",", ", ")

In [8]:
df["director"] = df["director"].str.replace(",", ", ")

In [9]:
df['date_rated'] = pd.to_datetime(df.date_rated, format='%Y/%m/%d')

In [10]:
df["decade"] = df["year"].astype(str).str[:3] + "0s"

In [11]:
df[["rating", "duration"]] = df[["rating", "duration"]].astype(int)

In [12]:
#df = df[df["director"].notnull()]
df["director"] = df["director"].fillna("Director not specified")

In [13]:
df["actors"] = df["actors"].fillna("Cast not specified")

In [14]:
df["genre"] = df["genre"].fillna("Genre not specified")

In [15]:
df.set_index("title", inplace=True)

In [45]:
# df.loc[["Teddy Bomb"], ["country"]] = "Canada"
# df.loc[["Daisies", "Loves of a Blonde", "The Shop on Main Street"], ["country"]] = "Czechia"
# df.loc[["Three Businessmen"], ["country"]] = "USA,Japan,Netherlands,UK"
# df.loc[["That Evening Sun"], ["country"]] = "USA"
# df.loc[["All Tomorrow's Parties"], ["country"]] = "UK"
# df.loc[["Stalker"], ["country"]] = "Russian Federation"
# df.loc[["The Cremator"], ["country"]] = "Czechia"
# df.loc[["The Cranes Are Flying"], ["country"]] = "Russian Federation"
# df.loc[["Letter Never Sent"], ["country"]] = "Russian Federation"
# df.loc[["Freaky Farley"], ["country"]] = "USA"

In [16]:
blank_country = df.country.isnull()

In [17]:
df[blank_country]

Empty DataFrame
Columns: [year, rating, date_rated, duration, director, country, genre, actors, image, backdrop, summary, decade]
Index: []

In [18]:
if len(df[blank_country]) > 0:
    print("MISSING COUNTRIES!")

In [19]:
df.reset_index(inplace=True)

In [20]:
all_letterboxd = pd.read_csv("../all_letterboxd.csv", index_col=[0])

In [21]:
all_letterboxd.date_rated = pd.to_datetime(all_letterboxd.date_rated, format='%Y-%m-%d')

In [22]:
all_letterboxd = pd.concat([all_letterboxd, df])

In [23]:
all_letterboxd.reset_index(drop=True, inplace=True)

In [24]:
all_letterboxd.sort_values(by='date_rated', inplace=True)

In [25]:
all_letterboxd.drop_duplicates(subset=['title', 'year', 'director'], keep='last', inplace=True)

In [26]:
all_letterboxd.reset_index(drop=True, inplace=True)

In [28]:
all_letterboxd.to_csv("../all_letterboxd.csv")

In [29]:
all_letterboxd.to_csv("../../../github/films/data/all_letterboxd.csv")

# Directors

In [30]:
directors = all_letterboxd["director"].str.split(",", expand=True)

In [31]:
directors = directors.unstack().reset_index(name="director")

In [32]:
directors.drop(columns=["level_0", "level_1"], inplace=True)

In [33]:
directors["director"] = directors["director"].str.strip()

In [34]:
directors.dropna(inplace=True)

In [35]:
directors["count"] = 1

In [36]:
directors = pd.DataFrame(directors.groupby("director")["count"].sum())

In [37]:
directors.sort_values(by="count", ascending=False, inplace=True)

In [38]:
directors = directors[:20]

In [39]:
directors.to_csv("../directors.csv")

In [40]:
directors.to_csv("../../../github/films/data/directors.csv")

In [41]:
dir_bar = all_letterboxd.iloc[:,[0, 2, 5]]
dir_bar.head()

,title,rating,director
0,American Beauty,7,Sam Mendes
1,A Cock and Bull Story,7,Michael Winterbottom
2,No Manifesto: A Film About Manic Street Preachers,7,Director not specified
3,Black Swan,7,Darren Aronofsky
4,The Departed,7,Martin Scorsese

In [42]:
dir_bar = dir_bar.assign(director=dir_bar["director"].str.split(",")).explode("director")

In [43]:
dir_bar["director"] = dir_bar["director"].str.strip()

In [44]:
pivot = pd.pivot_table(dir_bar, index=["director"], columns=["title"], margins=True, aggfunc=[np.mean, len])

In [45]:
pivot = pivot.stack("title")

In [46]:
pivot = pivot.reset_index()

In [47]:
pivot = pivot.loc[pivot.director != "All"]

In [48]:
pivot.columns = pivot.columns.droplevel(1)

In [49]:
pivot

              director                   title  len  mean
0     Abbas Kiarostami                     All  4.0   8.0
1     Abbas Kiarostami          Certified Copy  1.0   8.0
2     Abbas Kiarostami                Close-Up  1.0   9.0
3     Abbas Kiarostami         Taste of Cherry  1.0   7.0
4     Abbas Kiarostami  The Wind Will Carry Us  1.0   8.0
...                ...                     ...  ...   ...
2011       Éric Rohmer      Full Moon in Paris  1.0   7.0
2012       Éric Rohmer      My Night at Maud's  1.0   8.0
2013       Éric Rohmer    Pauline at the Beach  1.0   8.0
2014       Éric Rohmer      The Aviator's Wife  1.0   8.0
2015       Éric Rohmer           The Green Ray  1.0   8.0

[2016 rows x 4 columns]

In [50]:
pivot.to_csv("../test.csv", index=False)

In [51]:
pivot.to_csv("../../../github/films/data/test.csv", index=False)

In [52]:
dir_bar.to_csv("../dir_bar.csv", index=False)

In [53]:
dir_bar.to_csv("../../../github/films/data/dir_bar.csv", index=False)

# Decade

In [54]:
decade = all_letterboxd.groupby("decade").agg({"title": "size", "rating": "mean"}).rename(columns={"title": "count", "rating": "avg_rating"})
decade

        count  avg_rating
decade
1910s       5    7.200000
1920s      24    7.583333
1930s      27    7.333333
1940s      50    7.440000
1950s     102    7.617647
1960s     144    7.562500
1970s     184    7.527174
1980s     172    7.296512
1990s     149    7.382550
2000s     163    7.190184
2010s     295    6.993220
2020s       2    7.500000

In [55]:
decade.to_csv("../decade_breakdown.csv")

In [56]:
decade.to_csv("../../../github/films/data/decade_breakdown.csv")

# Release Year

In [57]:
release_year = all_letterboxd.iloc[:, [0, 1]]

In [58]:
min_year = release_year["year"].min()

In [59]:
max_year = release_year["year"].max()

In [60]:
year_range = np.arange(min_year, max_year + 1)

In [61]:
release_year_group = release_year.groupby(["year"]).count()

In [62]:
release_year_group = release_year_group.reindex(year_range).fillna(0)

In [63]:
release_year_group.to_csv("../release_year.csv")

In [64]:
release_year_group.to_csv("../../../github/films/data/release_year.csv")

# Watch date

In [65]:
w_date = all_letterboxd.set_index("date_rated")

In [66]:
w_date = w_date.groupby("date_rated").count()

In [67]:
w_date = pd.DataFrame(w_date.iloc[:, 1])

In [68]:
first_w_date = pd.Timestamp("2015-04-25")
last_w_date = w_date.index.max()

In [69]:
w_date_range = pd.date_range(start=first_w_date, end=last_w_date)

In [70]:
w_date = w_date.reindex(w_date_range).fillna(0)

In [71]:
monthly = w_date.groupby(pd.Grouper(freq="MS")).sum()

In [72]:
monthly.rename(columns={"year": "count"}, inplace=True)

In [73]:
monthly.to_csv("../watch_date.csv", index_label="date")

In [74]:
monthly.to_csv("../../../github/films/data/watch_date.csv", index_label="date")

# Genres

In [75]:
genres = all_letterboxd.iloc[:, [0, 7]]

In [76]:
genres = genres.assign(genre=genres["genre"].str.split(", ")).explode("genre")

In [77]:
genres.drop(columns="title", inplace=True)

In [78]:
genres = genres.drop_duplicates().dropna()

In [79]:
genres = genres[genres["genre"] != "Tv Movie"]

In [80]:
genres = genres[genres["genre"] != "Genre not specified"]

In [81]:
genres = genres.sort_values("genre")

In [82]:
genres.to_csv("../genre_list.csv", index=False)

In [83]:
genres.to_csv("../../../github/films/data/genre_list.csv", index=False)

# Countries

In [84]:
countries = all_letterboxd.iloc[:, [0, 6]]

In [85]:
countries = countries.assign(country=countries["country"].str.split(",")).explode("country")

In [86]:
countries.drop(columns="title", inplace=True)

In [87]:
countries = countries.drop_duplicates().dropna()

In [88]:
countries.sort_values(by="country", inplace=True)

In [89]:
countries.to_csv("../countries.csv", index=False)

In [90]:
countries.to_csv("../../../github/films/data/countries.csv", index=False)