In [18]:
import pandas as pd
from datetime import datetime
import numpy as np
# import scrapy
# from scrapy.crawler import CrawlerProcess

In [19]:
# class CareerhubSpider(scrapy.Spider):
#     name = 'letterboxd'
#     allowed_domains = ['letterboxd.com']
#     start_urls = ['https://letterboxd.com/iainm/films/diary/']

#     def parse(self, response):
#         links = response.css('#diary-table > tbody > tr > td.td-film-details > h3 > a::attr(href)').extract()
#         ratings = response.css('#diary-table > tbody > tr > td.td-rating.rating-green > div > span::attr(class)').extract()
#         rating_dates = response.css('#diary-table > tbody > tr > td.td-day.diary-day.center > a::attr(href)').extract()

#         for link, rating, rating_date in zip(links, ratings, rating_dates):
#             link = response.urljoin(link)
#             yield scrapy.Request(url=link, callback=self.parse_review, meta={'rating': rating, 'date_rated': rating_date})

#         next_page = response.css(
#             'a.next::attr(href)').extract_first()
#         if next_page:
#             next_page = response.urljoin(next_page)
#             yield scrapy.Request(next_page, callback=self.parse)

#     def parse_review(self, response):
#         title_links = response.css('#content > div > div > section > section > section > h2 > span.film-title-wrapper > a::attr(href)').extract()
        
#         for title_link in title_links:
#             title_link = response.urljoin(title_link)
#             yield scrapy.Request(url=title_link, callback=self.parse_details, meta={'rating': response.meta['rating'], 'date_rated': response.meta['date_rated']})

#     def parse_details(self, response):
#         yield {
#             'title': response.css('#featured-film-header > h1::text').extract_first(),
#             'year': response.css('#featured-film-header > p > small > a::text').extract_first(),
#             'rating': response.meta['rating'],
#             'date_rated': response.meta['date_rated'],
#             'duration': response.css('#film-page-wrapper > div.col-17 > section.section.col-10.col-main > p::text').extract_first().strip(),
#             'director': response.xpath('//a[contains(@class, "text-slug") and contains(@href, "director")]/text()').extract(),
#             'country': response.xpath('//a[contains(@class, "text-slug") and contains(@href, "films/country")]/text()').extract(),
#             'genre': response.xpath('//a[contains(@class, "text-slug") and contains(@href, "/films/genre")]/text()').extract(),
#             'actors': response.css('#tab-cast > div > p > a::text').extract(),
#             'image': response.css('#js-poster-col img::attr(src)').extract_first(),
#             'backdrop': response.css("#backdrop::attr(data-backdrop)").extract_first(),
#             'summary': response.css('div.truncate > p::text').extract_first()
#         }

In [20]:
df = pd.read_csv("letterboxd.csv")
df.head()

,title,year,rating,date_rated,duration,director,country,genre,actors,image,backdrop,summary
0,Tabu,2012,rating rated-7,/iainm/films/diary/for/2020/04/16/,120 mins \n\t\t\t\t\n\t\t\t\t\tMore details at,Miguel Gomes,"Brazil,France,Germany,Portugal","drama,romance","Teresa Madruga,Laura Soveral,Ana Moreira,Henri...",https://a.ltrbxd.com/resized/sm/upload/9e/la/3...,https://a.ltrbxd.com/resized/sm/upload/kt/k5/e...,"Lisbon, Portugal, 2010. Pilar, a pious woman d..."
1,Faces Places,2017,rating rated-7,/iainm/films/diary/for/2020/05/26/,89 mins \n\t\t\t\t\n\t\t\t\t\tMore details at,"Agnès Varda,JR",France,documentary,"Agnès Varda,JR",https://a.ltrbxd.com/resized/film-poster/3/8/4...,https://a.ltrbxd.com/resized/sm/upload/ps/37/l...,Director Agnès Varda and photographer/muralist...
2,Husbands and Wives,1992,rating rated-8,/iainm/films/diary/for/2020/04/14/,108 mins \n\t\t\t\t\n\t\t\t\t\tMore details at,Woody Allen,USA,"comedy,drama,romance","Woody Allen,Mia Farrow,Judy Davis,Sydney Polla...",https://a.ltrbxd.com/resized/film-poster/3/3/7...,https://a.ltrbxd.com/resized/sm/upload/hq/n3/j...,When Jack and Sally announce that they're spli...
3,Le Corbeau,1943,rating rated-7,/iainm/films/diary/for/2020/04/16/,92 mins \n\t\t\t\t\n\t\t\t\t\tMore details at,Henri-Georges Clouzot,France,"thriller,crime,drama,mystery","Pierre Fresnay,Ginette Leclerc,Micheline Franc...",https://a.ltrbxd.com/resized/sm/upload/60/eq/n...,https://a.ltrbxd.com/resized/sm/upload/ur/ym/k...,Remy Germain is a doctor in a French town who ...
4,The New World,2005,rating rated-9,/iainm/films/diary/for/2020/04/15/,135 mins \n\t\t\t\t\n\t\t\t\t\tMore details at,Terrence Malick,USA,"drama,history,romance","Colin Farrell,Q'orianka Kilcher,Christopher Pl...",https://a.ltrbxd.com/resized/film-poster/4/5/3...,https://a.ltrbxd.com/resized/sm/upload/f1/u1/7...,A drama about explorer John Smith and the clas...

In [21]:
df["rating"] = df["rating"].str.split("-", expand=True)[1]

In [22]:
df["date_rated"] = df["date_rated"].str[-11:].str[0:10]

In [23]:
df["duration"] = df["duration"].str.split(expand=True)[0]

In [24]:
df["genre"] = df["genre"].str.title()

In [25]:
df["genre"] = df["genre"].str.replace(",", ", ")

In [26]:
df["director"] = df["director"].str.replace(",", ", ")

In [27]:
df['date_rated'] = pd.to_datetime(df.date_rated, format='%Y/%m/%d')

In [28]:
df["decade"] = df["year"].astype(str).str[:3] + "0s"

In [29]:
df[["rating", "duration"]] = df[["rating", "duration"]].astype(int)

In [30]:
#df = df[df["director"].notnull()]
df["director"] = df["director"].fillna("Director not specified")

In [31]:
df["actors"] = df["actors"].fillna("Cast not specified")

In [32]:
df["genre"] = df["genre"].fillna("Genre not specified")

In [33]:
df.set_index("title", inplace=True)

In [34]:
df.loc[["Teddy Bomb"], ["country"]] = "Canada"
df.loc[["Daisies", "Loves of a Blonde", "The Shop on Main Street"], ["country"]] = "Czechia"
df.loc[["Three Businessmen"], ["country"]] = "USA,Japan,Netherlands,UK"
df.loc[["That Evening Sun"], ["country"]] = "USA"
df.loc[["All Tomorrow's Parties"], ["country"]] = "UK"

In [35]:
df.to_csv("../all_letterboxd.csv")

# Directors

In [17]:
directors = df["director"].str.split(",", expand=True)

In [18]:
directors = directors.unstack().reset_index(name="director")

In [19]:
directors.drop(columns=["level_0", "level_1"], inplace=True)

In [20]:
directors["director"] = directors["director"].str.strip()

In [21]:
directors.dropna(inplace=True)

In [22]:
directors["count"] = 1

In [23]:
directors = pd.DataFrame(directors.groupby("director")["count"].sum())

In [24]:
directors.sort_values(by="count", ascending=False, inplace=True)

In [25]:
directors = directors[:20]

In [26]:
directors.to_csv("../directors.csv")

In [27]:
dir_bar = df.iloc[:,[0, 2, 5]]

In [28]:
dir_bar = dir_bar.assign(director=dir_bar["director"].str.split(",")).explode("director")

In [29]:
dir_bar["director"] = dir_bar["director"].str.strip()

In [30]:
pivot = pd.pivot_table(dir_bar, index=["director"], columns=["title"], margins=True, aggfunc=[np.mean, len])

In [31]:
pivot = pivot.stack("title")

In [32]:
pivot = pivot.reset_index()

In [33]:
pivot = pivot.loc[pivot.director != "All"]

In [34]:
pivot.columns = pivot.columns.droplevel(1)

In [35]:
pivot

              director                   title  len  mean
0     Abbas Kiarostami                     All  4.0   8.0
1     Abbas Kiarostami          Certified Copy  1.0   8.0
2     Abbas Kiarostami                Close-Up  1.0   9.0
3     Abbas Kiarostami         Taste of Cherry  1.0   7.0
4     Abbas Kiarostami  The Wind Will Carry Us  1.0   8.0
...                ...                     ...  ...   ...
1743   Ágnes Hranitzky  Werckmeister Harmonies  1.0   7.0
1744       Éric Rohmer                     All  3.0   8.0
1745       Éric Rohmer      My Night at Maud's  1.0   8.0
1746       Éric Rohmer    Pauline at the Beach  1.0   8.0
1747       Éric Rohmer           The Green Ray  1.0   8.0

[1748 rows x 4 columns]

In [36]:
pivot.to_csv("../test.csv", index=False)

In [37]:
dir_bar.to_csv("../dir_bar.csv", index=False)

# Decade

In [38]:
decade = df.groupby("decade").agg({"title": "size", "rating": "mean"}).rename(columns={"title": "count", "rating": "avg_rating"})
decade

        count  avg_rating
decade
1910s       4    7.250000
1920s      23    7.565217
1930s      23    7.391304
1940s      43    7.488372
1950s      85    7.717647
1960s     128    7.617188
1970s     157    7.585987
1980s     137    7.350365
1990s     126    7.428571
2000s     134    7.231343
2010s     264    6.988636

In [39]:
decade.to_csv("../decade_breakdown.csv")

# Release Year

In [40]:
release_year = df.iloc[:, [0, 1]]

In [41]:
min_year = release_year["year"].min()

In [42]:
max_year = release_year["year"].max()

In [43]:
year_range = np.arange(min_year, max_year + 1)

In [44]:
release_year_group = release_year.groupby(["year"]).count()

In [45]:
release_year_group = release_year_group.reindex(year_range).fillna(0)

In [46]:
release_year_group.to_csv("../release_year.csv")

# Watch date

In [47]:
w_date = df.set_index("date_rated")

In [48]:
w_date = w_date.groupby("date_rated").count()

In [49]:
w_date = pd.DataFrame(w_date.iloc[:, 1])

In [50]:
first_w_date = pd.Timestamp("2015-04-25")
last_w_date = w_date.index.max()

In [51]:
w_date_range = pd.date_range(start=first_w_date, end=last_w_date)

In [52]:
w_date = w_date.reindex(w_date_range).fillna(0)

In [53]:
monthly = w_date.groupby(pd.Grouper(freq="MS")).sum()

In [54]:
monthly.rename(columns={"year": "count"}, inplace=True)

In [55]:
monthly.to_csv("../watch_date.csv", index_label="date")

# Genres

In [56]:
genres = df.iloc[:, [0, 7]]

In [57]:
genres = genres.assign(genre=genres["genre"].str.split(", ")).explode("genre")

In [58]:
genres.drop(columns="title", inplace=True)

In [59]:
genres = genres.drop_duplicates().dropna()

In [60]:
genres = genres[genres["genre"] != "Tv Movie"]

In [61]:
genres = genres[genres["genre"] != "Genre not specified"]

In [62]:
genres = genres.sort_values("genre")

In [63]:
genres.to_csv("../genre_list.csv", index=False)

# Countries

In [64]:
countries = df.iloc[:, [0, 6]]

In [65]:
countries = countries.assign(country=countries["country"].str.split(",")).explode("country")

In [66]:
countries.drop(columns="title", inplace=True)

In [67]:
countries = countries.drop_duplicates().dropna()

In [68]:
countries.sort_values(by="country", inplace=True)

In [69]:
countries.to_csv("../countries.csv", index=False)