In [1]:
import pandas as pd
from datetime import datetime
import numpy as np

In [2]:
df = pd.read_csv("letterboxd.csv")

In [3]:
df["rating"] = df["rating"].str.split("-", expand=True)[1]

In [4]:
df["date_rated"] = df["date_rated"].str[-11:].str[0:10]

In [5]:
df["duration"] = df["duration"].str.split(expand=True)[0]

In [6]:
df["genre"] = df["genre"].str.title()

In [7]:
df["genre"] = df["genre"].str.replace(",", ", ")

In [8]:
df["director"] = df["director"].str.replace(",", ", ")

In [9]:
df['date_rated'] = pd.to_datetime(df.date_rated, format='%Y/%m/%d')

In [10]:
df["decade"] = df["year"].astype(str).str[:3] + "0s"

In [11]:
df[["rating", "duration"]] = df[["rating", "duration"]].astype(int)

In [12]:
#df = df[df["director"].notnull()]
df["director"] = df["director"].fillna("Director not specified")

In [13]:
df["actors"] = df["actors"].fillna("Cast not specified")

In [14]:
df["genre"] = df["genre"].fillna("Genre not specified")

In [15]:
df.to_csv("../all_letterboxd.csv")

# Directors

In [16]:
directors = df["director"].str.split(",", expand=True)

In [17]:
directors = directors.unstack().reset_index(name="director")

In [18]:
directors.drop(columns=["level_0", "level_1"], inplace=True)

In [19]:
directors["director"] = directors["director"].str.strip()

In [20]:
directors.dropna(inplace=True)

In [21]:
directors["count"] = 1

In [22]:
directors = pd.DataFrame(directors.groupby("director")["count"].sum())

In [23]:
directors.sort_values(by="count", ascending=False, inplace=True)

In [24]:
directors = directors[:20]

In [25]:
directors.to_csv("../directors.csv")

In [26]:
dir_bar = df.iloc[:,[0, 2, 5]]

In [27]:
dir_bar = dir_bar.assign(director=dir_bar["director"].str.split(",")).explode("director")

In [28]:
dir_bar["director"] = dir_bar["director"].str.strip()

In [29]:
pivot = pd.pivot_table(dir_bar, index=["director"], columns=["title"], margins=True, aggfunc=[np.mean, len])

In [30]:
pivot = pivot.stack("title")

In [31]:
pivot = pivot.reset_index()

In [32]:
pivot = pivot.loc[pivot.director != "All"]

In [33]:
pivot.columns = pivot.columns.droplevel(1)

In [34]:
pivot

              director                   title  len  mean
0     Abbas Kiarostami                     All  4.0   8.0
1     Abbas Kiarostami          Certified Copy  1.0   8.0
2     Abbas Kiarostami                Close-Up  1.0   9.0
3     Abbas Kiarostami         Taste of Cherry  1.0   7.0
4     Abbas Kiarostami  The Wind Will Carry Us  1.0   8.0
...                ...                     ...  ...   ...
1656   Ágnes Hranitzky  Werckmeister Harmonies  1.0   7.0
1657       Éric Rohmer                     All  3.0   8.0
1658       Éric Rohmer      My Night at Maud's  1.0   8.0
1659       Éric Rohmer    Pauline at the Beach  1.0   8.0
1660       Éric Rohmer           The Green Ray  1.0   8.0

[1661 rows x 4 columns]

In [35]:
pivot.to_csv("../test.csv", index=False)

In [36]:
dir_bar.to_csv("../dir_bar.csv", index=False)

# Decade

In [37]:
decade = df.groupby("decade").agg({"title": "size", "rating": "mean"}).rename(columns={"title": "count", "rating": "avg_rating"})
decade

        count  avg_rating
decade
1910s       4    7.250000
1920s      23    7.565217
1930s      23    7.304348
1940s      41    7.512195
1950s      80    7.762500
1960s     123    7.593496
1970s     150    7.593333
1980s     131    7.351145
1990s     121    7.487603
2000s     129    7.255814
2010s     240    7.062500

In [38]:
decade.to_csv("../decade_breakdown.csv")

# Release Year

In [39]:
release_year = df.iloc[:, [0, 1]]

In [40]:
min_year = release_year["year"].min()

In [41]:
max_year = release_year["year"].max()

In [42]:
year_range = np.arange(min_year, max_year + 1)

In [43]:
release_year_group = release_year.groupby(["year"]).count()

In [44]:
release_year_group = release_year_group.reindex(year_range).fillna(0)

In [45]:
release_year_group.to_csv("../release_year.csv")

# Watch date

In [46]:
w_date = df.set_index("date_rated")

In [47]:
w_date = w_date.groupby("date_rated").count()

In [48]:
w_date = pd.DataFrame(w_date.iloc[:, 1])

In [49]:
first_w_date = pd.Timestamp("2015-04-25")
last_w_date = w_date.index.max()

In [50]:
w_date_range = pd.date_range(start=first_w_date, end=last_w_date)

In [51]:
w_date = w_date.reindex(w_date_range).fillna(0)

In [52]:
monthly = w_date.groupby(pd.Grouper(freq="MS")).sum()

In [53]:
monthly.rename(columns={"year": "count"}, inplace=True)

In [54]:
monthly.to_csv("../watch_date.csv", index_label="date")

# Genres

In [55]:
genres = df.iloc[:, [0, 7]]

In [56]:
genres = genres.assign(genre=genres["genre"].str.split(", ")).explode("genre")

In [57]:
genres.drop(columns="title", inplace=True)

In [58]:
genres = genres.drop_duplicates().dropna()

In [59]:
genres = genres[genres["genre"] != "Tv Movie"]

In [60]:
genres = genres[genres["genre"] != "Genre not specified"]

In [61]:
genres = genres.sort_values("genre")

In [62]:
genres.to_csv("../genre_list.csv", index=False)